- extends "admin/change_form.html"
- load i18n admin_urls

- block breadcrumbs
    / START CUSTOM
    %script{'src':'#{ STATIC_URL }web_copy/ckeditor-4.7.x/ckeditor.js'}
    %script{'src':'#{ STATIC_URL }settings/ckeditor_settings.js'}
    %script{'src':'#{ STATIC_URL }js/utils.js'}
    %script{'src':'#{ STATIC_URL }js/textarea_to_ckeditor.js'}
    / END CUSTOM
    .breadcrumbs
        %a{'href':"{% url 'admin:index' %}"}
            - trans "Home"
        &rsaquo;
        %a{'href':"{% url 'admin:app_list' opts.app_label %}"}
            = opts.app_config.verbose_name
        &rsaquo;
        %a{'href':"{% url opts|admin_urlname:'changelist' %}"}
            = opts.verbose_name_plural|capfirst
        &rsaquo;
        %a{'href':"{% url opts|admin_urlname:'change' object_id %}"}
            = original|truncatewords:"18"
        &rsaquo;
        %a{'href':"{% url opts|admin_urlname:'history' object_id %}"}
            - trans "History"
        &rsaquo;
        - blocktrans with opts.verbose_name as verbose_name
            Revert #{verbose_name}
- block object-tools
- block form_top
    %p
        - blocktrans
            Press the save button below to revert to this version of the object.
- block submit_buttons_top
    - with is_popup=1
        #{block.super}
- block submit_buttons_bottom
    - with is_popup=1
        #{block.super}
