- extends 'core/base.html'
- block head_extras
    - load markdown_deux_tags

/ -
{% block content %}
    %section.card
        %h2 FAQs(Frequently Asked Questions) или ЧаВо(Частые вопросы)

    %span.card
        {% for n in note_list %}
            %label.card.tablabel{for:'tab-nav-#{ forloop.counter }'}
                %h3 #{ n.name }

    {% for n in note_list %}
        %div
            %input.hidden.tabcheck{type:'radio', name:'tabs', id:'tab-nav-#{ forloop.counter }'}
            -#, {% if forloop.first %}checked:True{% endif %}
            %div.card.tab
                %h2 #{ n.name }
                .note_details #{ n.text.rendered }
                %small.text-muted
                    Обновлено #{ n.edited }
                    %a{href:'{% url "note:note-id-detail" n.pk %}'} Ссылка
